/home/ritwik/ML_heave/seq/prediction_videos
/ML_heave/GRU_generalised/brute_results
GRU_generalised/brute_results/
/ML_heave/seq/noisyGRU_models_seq/*
seq/noisyGRU_models_seq/*
seq/prediction_videos/*
seq/noisyprediction_videos/*
noisyprediction_videos/*
*.pth
*.pt
*.mp4
*.npy
*.npz
*.json
