/home/ritwik/ML_heave/seq/prediction_videos
/ML_heave/GRU_generalised/brute_results
GRU_generalised/brute_results/
/ML_heave/seq/noisyGRU_models_seq/*
seq/noisyGRU_models_seq/*
seq/prediction_videos/*
seq/noisyprediction_videos/*
noisyprediction_videos/*
*.pth
*.pt
*.mp4
*.npy
*.npz
*.json
!seq/noisyGRU_models_seq/noisy_D1_GRU_40_6_1024_1024/epoch_500.pth
!seq/noisyGRU_models_seq/noisy_D1_GRU_40_6_1024_1024_ritwik_trained_backup/epoch_500.pth
*.log
!n*.log
run*.log
run*.txt
*model*.txt
*.csv
